<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width">
    <title>Protecto Erika</title>
   
     <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Spice&family=Lato:ital@0;1&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <article class="contenedor01">
      <h1 align="center">Bolis Donde Erika</h1>
    <h2> Ven y disfruta del mejor sabor!</h2>
    
    <img src="/image/canasta.jpg" alt="">

    <h2 align="center"> Tenemos gran variedad de sabores</h2> 
    <p class="parrafo-destacado" align="center"> Cremosos en Leche y Citricos en Agua </p> 

    <ol>
        <h4>Cremosos</h4>
        <br>
        <div class="items">
             <ul>
            <li>Coco</li>
            <li>Chocolate</li>
            <li>Oreo</li>
            <li>Guanabana</li>
            <li>Chicle</li>
            <li>Mani</li>
            <li>Galleta</li>
            <li>Fresa con Crema</li>
            <li>Bocadillo con Crema</li>
        </ul>
        </div>
        
   
    </ol>

    <ol>
    
         <h4> Citricos</h4>
         <br> 
         <div class="lista" d-flex>
          <ul>
            <li>Maracuya</li>
            <li>Corozo</li>
            <li>Tamarindo</li>
            <li>Limon</li>
       
      </ul>   
         </div>
        
    </ol>
    </ol>  

    </article>
    <article class="contenedor02">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias cum molestiae, expedita veniam natus autem delectus error officiis sequi magnam impedit repellendus ad iste quo vitae culpa voluptatum officia nisi.</p>

    </article>

    

     
   
</body>

</html>