<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <!-- Tipografia 1 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Spice&family=Lato:ital@0;1&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Tipografia 2 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bungee+Spice&family=Lato:ital@0;1&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header id="header" class="header">

        <img src="/image/logo11-removebg-preview.png" alt="" id="logo">


        <div class="navct">

            <ul class="navct">
                <li class="four columns"><a href="#">Inicio</a></li>
                <li class="four columns"><a href="#">Sobre</a></li>
                <li class="four columns"><a href="#">Contacto</a></li>
            </ul>
        </div>

        <div class="submenu">
            <ul>
                <li class="submenu">
                    <img src="image/outline_shopping_cart_white_18dp.png" alt="">
                    <div id="carrito">
                        <table id="lista-carrito" class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div id="hero">
        <div class="contenido-hero">
            <h2>Pide tus Bolis Favoritos</h2>
            <p>Todos los Bolis a $ 1.000</p>
            <form action="#" id="busqueda" method="post" class="formulario">

                <input class="inputForm" type="text" placeholder="Que te gustaria comprar?" id="buscador">
                <img class="lupaBuscador" src="/image/outline_search_black_24dp.png" alt="">

            </form>
        </div>
    </div>

    <!-- informacion de los productos -->
    <div class="barra-container">

        <ul class="barra-container">
            <li>
                <p>Variedad de Sabores<br>
                    Explora los sabores más recientes
                </p>
            </li>
        </ul>

        <ul class="barra-container">
            <li>
                <p>Expertos en la Elaboración<br>
                    Explora los distintos sabores
                </p>
            </li>
        </ul>

        <ul class="barra-container">
            <li>
                <p>Frutas de calidad<br>
                    % Natural
                </p>
            </li>
        </ul>
    </div>


    <br>
    <h1 id="encabezado" class="encabezado">Pedidos en Línea</h1>


    <!-- imagenes -->

    <br>

    <div class="contenedor" id="contenedor">
        <div>
            <img src="/image/boli de chocolate.jpg" alt="Boli de Chocolate">
            <div class="informacion">
                <p>Boli de Chocolate</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/boli de cola con leche.jpg" alt="Boli de cola con Leche">
            <div class="informacion">
                <p>Boli de Cola con Leche</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de coco.jpg" alt="Boli de Coco">
            <div class="informacion">
                <p>Boli de Coco</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de arequipe.jpg" alt="Boli de Arequipe">
            <div class="informacion">
                <p>Boli de Arequipe</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de cafe.jpg" alt="Boli de Café">
            <div class="informacion">
                <p>Boli de Café</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de chicle.jpg" alt="Boli de Chicle">
            <div class="informacion">
                <p>Boli de Chicle</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de corozo.jpg" alt="Boli de Corozo">
            <div class="informacion">
                <p>Boli de Corozo</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de fresa.jpg" alt="Boli de Fresa con Crema">
            <div class="informacion">
                <p>Boli de Fresa con Crema</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de guanabana.jpg" alt="Boli de Guanabana">
            <div class="informacion">
                <p>Boli de Guanabana</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de mani.jpg" alt="Boli de Maní">
            <div class="informacion">
                <p>Boli de Maní</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de maracuya.jpg" alt="Boli de Maracuya">
            <div class="informacion">
                <p>Boli de Maracuya</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de oreo.jpg" alt="Boli de Oreo">
            <div class="informacion">
                <p>Boli de Oreo</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de ron con pasas.jpg" alt="Boli de Ron con Pasas">
            <div class="informacion">
                <p>Boli de Ron con Pasas</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/bolis de tamarindo.jpg" alt="Boli de Tamarindo">
            <div class="informacion">
                <p>Boli de Tamarindo</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>
        <div>
            <img src="/image/fresas.PNG" alt="Boli de Fresa">
            <div class="informacion">
                <p>Boli de Fresa</p>
                <p class="precio">$1000<span>.00</span></p>
                <button>Comprar</button>
            </div>
        </div>

    




    <script src="/js/carritoDeCompras.js"></script>
</body>

</html>