<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Protecto Erika</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header id="header" class="header">


        <div class="four columns">
            <img src="/image/logo11-removebg-preview.png" alt="" id="logo">
        </div>

        <div class="row">
            <div class="four columns">
                <ul class="navct">
                    <li class="four columns"><a href="#">Inicio</a></li>
                    <li class="four columns"><a href="#">Sobre</a></li>
                    <li class="four columns"><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="two columns u-pull-right">
            <ul>
                <li class="submenu">
                    <img src="/image/outline_shopping_cart_white_18dp.png" alt="">
                    <div id="carrito">
                        <table id="lista-carrito" class="u-full-width">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div id="hero">
        <div class="container">
            <div class="row">
                <div class="six-columns">
                    <div class="contenido-hero">
                        <h2>Pides tus Bolis Favoritos</h2>
                        <p>Todos los Bolis a $ 1.000</p>
                        <form action="#" id="busqueda" method="post" class="formulario">
                            <input class="u-full-width" type="text" placeholder="Que te gustaria comprar?"
                                id="buscador">
                            <input type="submit" id="submit-buscador" class="submit-buscador">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="barra">
        <div class="container">
            <div class="row">
                <div class="four columns  icono icono1">
                    <p>Variedad de Sabores<br>
                        Explora los sabores más recientes
                    </p>
                </div>
                <div class="barra">
                    <div class="container">
                        <div class="row">
                            <div class="four columns icono icono2">
                                <p>Expertos en la Elaboración<br>
                                    Explora los distintos sabores
                                </p>
                            </div>
                            <div class="barra">
                                <div class="container">
                                    <div class="row">
                                        <div class="four columns icono icono3">
                                            <p>Frutas de calidad<br>
                                                % Natural
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="lista-bolis" class="container">
                                <h1 id="encabezado" class="encabezado">Pedidos en Línea</h1>
                           
                                <div class="card-container">
                                    <div class="card">
                                        <div class="card-title">
                                            <div class="card-img">
                                                <img src="/image/bolis de ron con pasas.jpg" class="u-full-width">
                                                <div class="card-detalle">
                                                    <h4>Boli de Ron con Pasas</h4>
                                                    <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                    <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="card-container">
                                        <div class="card">
                                            <div class="card-title">
                                                <div class="card-img">
                                                    <img src="/image/bolis de fresa.jpg" class="u-full-width">
                                                    <div class="card-detalle">
                                                        <h4>Boli de Fresa con Crema</h4>
                                                        <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                        <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="card-container">
                                            <div class="card">
                                                <div class="card-title">
                                                    <div class="card-img">
                                                        <img src="/image/bolis de coco.jpg" class="u-full-width">
                                                        <div class="card-detalle">
                                                            <h4>Boli de Coco</h4>
                                                            <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                            <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div class="card-container">
                                                <div class="card">
                                                    <div class="card-title">
                                                        <div class="card-img">
                                                            <img src="/image/boli de chocolate.jpg" class="u-full-width">
                                                            <div class="card-detalle">
                                                                <h4>Boli de Chocolate</h4>
                                                                <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                                <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="card-container">
                                                    <div class="card">
                                                        <div class="card-title">
                                                            <div class="card-img">
                                                                <img src="/image/bolis de mani.jpg" class="u-full-width">
                                                                <div class="card-detalle">
                                                                    <h4>Boli de Maní</h4>
                                                                    <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                                    <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="card-container">
                                                        <div class="card">
                                                            <div class="card-title">
                                                                <div class="card-img">
                                                                    <img src="/image/bolis de tamarindo.jpg" class="u-full-width">
                                                                    <div class="card-detalle">
                                                                        <h4>Boli de Tamarindo</h4>
                                                                        <p class="card-precio"><span class="u-pull-rigth">$1000</span></p>
                                                                        <a href="#" class="u-full-width button-primary button input agregar-carrito">Agregar al Carrito</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                    

                            <footer>
                                <div class="container_footer">
                                    <div class="box_footer">
                                        <div class="logo">
                                            <img src="/img/logotipo.png" alt="">
                                        </div>
                                        <div class="terms">

                                            <p>Somos una Tienda Online.</p>
                                            <p>Creada pensando en tí, elaboramos este producto con la más alta calidad %
                                                frutas escojidas y eleccionadas para su optimo resultado.</p>


                                        </div>

                                    </div>
                                    <div class="box_footer">
                                        <h2>Negocios</h2>
                                        <a href="#">Conviertete en Vendedor</a>
                                        <a href="#">Aplicación movil</a>
                                        <a href="#">Favoritos</a>
                                    </div>
                                    <div class="box_footer">
                                        <h2>Compañia</h2>
                                        <a href="#">¿Quienes Somos?</a>
                                        <a href="#">Empleos</a>
                                        <a href="#">Servicios</a>

                                    </div>
                                    <div class="box_footer">
                                        <h2>Redes Sociales</h2>
                                        <a href="#"><i class="fab fa-facebook-square"></i> Facebook</a>
                                        <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                                        <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>


                                    </div>

                                </div>
                                <div class="box_copyright">
                                    <hr>
                                    <p>Todos los derechos reservados © 2022
                                        <b>Bolis OBEP</b></p>
                                </div>
                            </footer>



</body>

</html>