<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion Registro</title>
    <link rel="stylesheet" href="../css/registro.css">
    
</head>
<body>
    <h1>Registro</h1>
    <form action="POST" action="/css/registro.css">
    <label for="">Nombre</label>
    <input type="text" name="nombre">
    <p>Hobbies</p>
    <% for(let i =0; i < 10; i++) { %>
        <label for=""> Hobbie <%= i %></label>
        <% if (i % 2 == 0) { %>
        <input class="par" type="text" name="hobbies[]">
        <% } else { %>
            <input class="impar" type="text" name="nombre">
        <% } %>
        <br>
    <% } %>
    </form>
   </body>
</html>