body {
    background-color: rgb(238, 198, 205);
}
h1 {
    text-align: center;
    color: white;
}
h4 {
    font-size: 16px;
    font-weight: 700;
}
header {
    padding: 20px 0 0 0;
    text-align: center;
}
.navct {
    color: white;
    padding-top: 5px;
    text-transform: uppercase;
  }
  @media (min-width: 750px) {
    header {
        text-align: left;
    }

  }
  ul {
    list-style: none;
  }
  #hero {
    background-image: 
    position: relative;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
  }
    
  




  


